@import "src/styles/mixins";
@import "~highlight.js/styles/idea.css";

.resume-editor {
  width: 100%;
  min-height: 100%;
  padding-left: 720px;
  background: #f8f9fa;

  /* When this class is on, the side panel expands */
  &.side-panel-showing {
    .side-panel {
      width: 720px;

      .panel-mode-selection-wrapper {
        display: none;
      }
    }
  }

  /* When this classes are on, show the left sidenav mode selection */
  &.side-panel-showing.side-panel-mode-selection-showing {
    .panel-mode-selection-wrapper {
      display: flex;

      .close-wrapper {
        display: flex;
      }

      .panel-mode-button {
        .material-icons, img {
          margin-left: 8px;
        }

        .panel-mode-label {
          display: inline-block;
          opacity: 0;
          animation: side-panel-opacity-in;
          animation-duration: 240ms;
          animation-delay: 400ms;
          animation-fill-mode: forwards;
        }
      }
    }

    .bottom-lifestamp-hint {
      display: inline-block;
      opacity: 0;
      animation: side-panel-opacity-in-lifestamp-hint;
      animation-duration: 340ms;
      animation-delay: 1500ms;
      animation-fill-mode: forwards;
    }
  }

  /* When this classes are on, show the left sidenav document options */
  &.side-panel-showing.side-panel-mode-document-showing {
    .panel-mode-document {
      display: inline-block;
      opacity: 0;
      animation: side-panel-opacity-in;
      animation-duration: 240ms;
      animation-delay: 300ms;
      animation-fill-mode: forwards;
    }
  }

  /* When this classes are on, show the left sidenav HTML options */
  &.side-panel-showing.side-panel-mode-html-showing {
    .panel-mode-html {
      display: flex;
      opacity: 0;
      animation: side-panel-opacity-in;
      animation-duration: 240ms;
      animation-delay: 300ms;
      animation-fill-mode: forwards;
    }
  }

  /* When this classes are on, show the left sidenav SASS options */
  &.side-panel-showing.side-panel-mode-sass-showing {
    .panel-mode-sass {
      display: flex;
      opacity: 0;
      animation: side-panel-opacity-in;
      animation-duration: 240ms;
      animation-delay: 300ms;
      animation-fill-mode: forwards;
    }
  }

  /* Left side panel */
  .side-panel {
    position: fixed;
    left: 0;
    top:0;

    width: 64px;
    height: 100%;
    border-right: 1px solid #dddddd;
    background: #ffffff;
    overflow-y: auto;

    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.75);

    transition: width 340ms;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    &.side-panel-fullscreen {
      width: 100%;
    }

    .panel-mode-selection-wrapper {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .close-wrapper {
        display: none;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        border-bottom: 1px solid #dddddd;

        .btn-close {
          cursor: pointer;
          width: 64px;
          height: 64px;
          background: #ffffff;
          color: #666666;
          border: none;
          outline: 0 !important;

          .material-icons {
            font-size: 32px;
          }
        }
      }

      .panel-mode-button {
        cursor: pointer;
        height: 64px;
        background: #ffffff;
        color: #303030;
        border: none;
        border-bottom: 1px solid #dddddd;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        transition: background 340ms, color 340ms;

        &:hover, &:focus {
          background: #dddddd;
          color: #000000;
        }

        .material-icons {
          font-size: 44px;
        }

        img {
          width: 48px;
        }

        .panel-mode-label {
          display: none;
          flex: 1 1 0;
        }
      }
    }

    .panel-mode-wrapper {
      display: none;

      .back-to-selection-mode-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .btn-back-to-selection-mode {
          cursor: pointer;
          width: 48px;
          height: 48px;
          background: #ffffff;
          color: #666666;
          border: none;
          outline: 0 !important;
          border-right: 1px solid #dddddd;
          border-bottom: 1px solid #dddddd;

          .material-icons {
            font-size: 32px;
          }
        }

        .btn-toggle-expand-mode {
          cursor: pointer;
          width: 48px;
          height: 48px;
          background: #ffffff;
          color: #666666;
          border: none;
          outline: 0 !important;

          .material-icons {
            font-size: 32px;
          }
        }
      }

      .mode-title {
        padding: 15px 10px 15px 10px;
        text-align: center;
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #181818;
      }

      .form-wrapper {
        display: flex;
        flex-direction: column;
        padding: 25px 20px;

        .default-input {
          margin-bottom: 10px;
        }

        /* Defines the margins for a 2 by 2 layout of inputs */
        .quad-wrapper {
          .input-wrapper {
            &:nth-child(odd) {
              padding-right: 5px;
              margin-bottom: 10px;
            }
            &:nth-child(even) {
              padding-left: 5px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .panel-mode-document {
      .selected-template-placeholder {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }

      .select-template-btn {
        margin-bottom: 30px;
      }

      .doc-margins {
        margin-bottom: 15px;
      }

      .save-btn {
        margin-bottom: 30px;

        .mdc-button__label {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          i.material-icons {
            margin-right: 10px;
          }
        }
      }
    }

    .panel-mode-html {
      flex: 1 1 0;
      flex-direction: column;

      .form-wrapper {
        flex: 1 1 0;
        padding: 0;
      }
    }

    .panel-mode-sass {
      flex: 1 1 0;
      flex-direction: column;

      .form-wrapper {
        flex: 1 1 0;
        padding: 0;
      }
    }

    .bottom-lifestamp-hint {
      display: none;
      text-align: center;
      text-transform: uppercase;
      opacity: 0.25;
      padding: 15px 10px;
      font-size: 0.8rem;
    }
  }

  /* Document/preview zone */
  .editor {
    padding-top: 30px;
    background: #f8f9fa;

    .page {
      text-align: justify;

      .test-button {
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

/* This makes the page printable by Ctrl+P in the browser */
@media print {
  .resume-editor {
    padding: 0;
    margin: 0;
    background: #ffffff;

    .side-panel {
      display: none;
    }

    .editor {
      padding: 0;
      margin: 0;
    }
  }

  .page {
    margin: 0;
    box-shadow: none;
  }
}

/* Animations */
@include keyframes(side-panel-opacity-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(side-panel-opacity-in-lifestamp-hint) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}