.page {
  background: white;
  display: block;
  margin: 0 auto 0.5cm auto;
  padding: 2.5cm;

  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.45);
}
.page.A4 {
  width: 21cm;
  height: calc(29.7cm - 1.5px); /* Avoiding the problem with Ctrl+p of Chrome adding a second blank page */
}
.page.A4.landscape {
  width: 29.7cm;
  height: calc(21cm - 1.5px); /* Avoiding the problem with Ctrl+p of Chrome adding a second blank page */
}
.page.A3 {
  width: 29.7cm;
  height: calc(42cm - 2px); /* Avoiding the problem with Ctrl+p of Chrome adding a second blank page */
}
.page.A3.landscape {
  width: 42cm;
  height: calc(29.7cm - 2px); /* Avoiding the problem with Ctrl+p of Chrome adding a second blank page */
}
.page.A5 {
  width: 14.8cm;
  height: calc(21cm - 1px); /* Avoiding the problem with Ctrl+p of Chrome adding a second blank page */
}
.page.A5.landscape {
  width: 21cm;
  height: calc(14.8cm - 1px); /* Avoiding the problem with Ctrl+p of Chrome adding a second blank page */
}
@media print {
  body, .page {
    margin: 0;
    box-shadow: 0;
  }
}