
/* Main flex structural styles */
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Wraps */
.wrap { flex-wrap: wrap; }
.no-wrap { flex-wrap: nowrap; }
.reverse-wrap { flex-wrap: wrap-reverse; }

/* Alignments */
.justify-content-flex-start { justify-content: flex-start; }
.justify-content-flex-end { justify-content: flex-end; }
.justify-content-center { justify-content: center; }
.justify-content-space-around { justify-content: space-around; }
.justify-content-space-between { justify-content: space-between; }
.justify-content-space-evenly { justify-content: space-evenly; }
.justify-content-stretch { justify-content: stretch; }

.align-items-flex-start { align-items: flex-start; }
.align-items-flex-end { align-items: flex-end; }
.align-items-center { align-items: center; }
.align-items-stretch { align-items: stretch; }

/* Grow to the available space on x and y */
.flex { flex: 1 1 0; }

/* Grows and Shrinks */
.flex-5 { flex: 1 1 5%; }
.flex-10 { flex: 1 1 10%; }
.flex-15 { flex: 1 1 15%; }
.flex-20 { flex: 1 1 20%; }
.flex-25 { flex: 1 1 25%; }
.flex-30 { flex: 1 1 30%; }
.flex-35 { flex: 1 1 35%; }
.flex-40 { flex: 1 1 40%; }
.flex-45 { flex: 1 1 45%; }
.flex-50 { flex: 1 1 50%; }
.flex-55 { flex: 1 1 55%; }
.flex-60 { flex: 1 1 60%; }
.flex-65 { flex: 1 1 65%; }
.flex-70 { flex: 1 1 70%; }
.flex-75 { flex: 1 1 75%; }
.flex-80 { flex: 1 1 80%; }
.flex-85 { flex: 1 1 85%; }
.flex-90 { flex: 1 1 90%; }
.flex-95 { flex: 1 1 95%; }
.flex-100 { flex: 1 1 100%; }