@import "./variables";
@import "@material/react-button/index.scss";
@import "@material/button/mixins";
@import "@material/react-text-field/index.scss";
@import "@material/textfield/mixins";
@import "@material/react-material-icon/index.scss";
@import "@material/react-list/index.scss";
@import "@material/react-menu-surface/index.scss";
@import "@material/react-menu/index.scss";
@import "@material/react-select/index.scss";
@import "@material/react-dialog/index.scss";
@import "@material/react-list/index.scss";
@import "@material/react-snackbar/index.scss";

/* Button */
.mdc-button {
  @include mdc-button-ink-color($color-primary);

  /* Ripple color */
  &::before, &::after {
    background-color: $color-primary;
  }

  &.mdc-button--raised {
    @include mdc-button-container-fill-color($color-primary);
    @include mdc-button-ink-color(#ffffff);
  }

  &.mdc-button--outlined {
    @include mdc-button-outline-color($color-primary);
  }

  /* Warn colors */
  &.warn {
    @include mdc-button-ink-color($color-warn);

    /* Ripple color */
    &::before, &::after {
      background-color: $color-warn;
    }

    &.mdc-button--raised {
      @include mdc-button-container-fill-color($color-warn);
      @include mdc-button-ink-color(#ffffff);
    }

    &.mdc-button--outlined {
      @include mdc-button-outline-color($color-warn);
    }
  }

  /* Danger colors */
  &.danger {
    @include mdc-button-ink-color($color-danger);

    /* Ripple color */
    &::before, &::after {
      background-color: $color-danger;
    }

    &.mdc-button--raised {
      @include mdc-button-container-fill-color($color-danger);
      @include mdc-button-ink-color(#ffffff);
    }

    &.mdc-button--outlined {
      @include mdc-button-outline-color($color-danger);
    }
  }
}

/* Textfield */
.mdc-text-field {

  &.mdc-text-field--focused:not(.mdc-text-field--disabled) {
    .mdc-floating-label {
      @include mdc-floating-label-ink-color($color-primary);
    }

    .mdc-line-ripple {
      @include mdc-line-ripple-color($color-primary);
    }

    @include mdc-notched-outline-color($color-primary);
  }
}

/* Select */
.mdc-select {
  &.mdc-select--focused:not(.mdc-select--disabled) {
    .mdc-floating-label {
      @include mdc-floating-label-ink-color($color-primary);
    }

    .mdc-line-ripple {
      @include mdc-line-ripple-color($color-primary);
    }

    .mdc-select__dropdown-icon {
      background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%232196f3%22%20fill-rule%3D%22evenodd%22%20opacity%3D%221%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E") no-repeat center;
    }
  }
}

/* MDC Menu (Select menu) */
.mdc-menu {
  min-width: 320px;
}