
/* Responsive media queries */
@mixin xs {
  @media (max-width: 599px) { @content; }
}

@mixin gt-xs {
  @media (min-width: 600px) { @content; }
}

@mixin sm {
  @media (min-width: 600px) and (max-width: 959px) { @content; }
}

@mixin gt-sm {
  @media (min-width: 960px) { @content; }
}

@mixin md {
  @media (min-width: 960px) and (max-width: 1279px) { @content; }
}

@mixin gt-md {
  @media (min-width: 1280px) { @content; }
}

@mixin lg {
  @media (min-width: 1280px) and (max-width: 1919px) { @content; }
}

@mixin gt-lg {
  @media (min-width: 1920px) { @content; }
}

@mixin xl {
  @media (min-width: 1920px) { @content; }
}

/* Animation */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}